/* estilos.css */

/* Estilo para botones azules */
.boton-azul {
    background-color: rgb(87, 185, 255);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  /* Estilo para botones rojos */
  .boton-rojo {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }


.cabeceraOP{
  color:#009900; 
  font-size:50px;
  font-style:italic; 
  text-align:center;
}