.carta{
    width: 320px;
    height: 400px;
    margin: 30px;
    
}

.startDialog:hover{
    background-color: rgb(88, 254, 55);
}

.startList:hover{
    background-color: rgb(222, 255, 101);
}

.addToNew:hover{
    background-color: rgb(101, 217, 255);
}

.closeDialog{
    background-color: rgb(255, 0, 0);
    color:white;
}

.closeDialog:hover{
    background-color: rgb(255, 255, 255);
    color: red;
}

